services:
  - type: web
    name: convite-aniversario-dante
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: HOST
        value: 0.0.0.0
      - key: REPORT_PASSWORD
        sync: false
      - key: DATABASE_URL
        sync: false
